* {
  font-family: 'Courier New', Courier, monospace; 
}


header {
  display: block;
  width: 100%;
  background-color: blueviolet;
  font-size: 24pt;
  color: gold;
  text-align: center;
}
body {
  background-color: lemonchiffon;
}
main{
  filter: blur(20px);
}
main:hover {
  filter: blur(0px);
}
img {
  position: relative;
  left: 600px;
  } 
h2 {
  color: violet;
  text-align: right;
  font-size: 50pt;
  }
h3 {
  color: orange;
  text-align: right;
  font-size: 45pt;
}
footer {
  color: pink;
  text-align: center;
  font-size: 70pt;
  filter: blur(20px);

}
footer:hover{
  filter: blur(0px);
}