* {
  font-family: 'Courier New', Courier, monospace; 
}


header {
  width: 100%;
  background-color: blueviolet;
  font-size: 24pt;
  color: gold
}

img {
  position: relative;
  left: 600px;
  } 


body {
  h1 {
    text-align: center; color:aquamarine;
  }
  h2,h3 {
text-align: center; 
color: orange;
font-size: 50pt;
  }
  }

footer {
  color: red;
  text-align: center;
  font-size: 70pt;
}