* {
  font-family: 'Courier New', Courier, monospace; 
}


header {
  width: 100%;
  background-color: blueviolet;
  font-size: 24pt;
  color: gold
}




body {
  h1 {
    text-align: center; color: aquamarine;
  }
  h2,h3 {
text-align: left; 
color: olivedrab;
  }
  }

img {

}
footer {
  color: red;
}